body {
	margin: 0;
	padding: 0;
	display: flex;
}

.outSideMain {
	margin: 0 auto;
}

.outSideMain .game_title {
	text-align: center;
}

.ceil_area {
	display: flex;
	justify-content: space-between;
	padding: .5rem 0;
}

.button_area {
	display: flex;
	justify-content: flex-end;
}

.ceil_area .author {
	display: block;
	color: gainsboro;
}

.button_area button {
	margin: 0 .2rem;
}

.button_area button.reset_game {
	margin: 0;
}

.game_main {
	width: 360px;
	background: black;
}

.game_title {
	margin-bottom: .5rem;
}

.erroInfo {
	font-size: 14px;
	color: red;
	height: 20px;
	display: block;
}

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.row {
	display: flex;
	background: blue;
	width: 100%;
	/* border: 1px solid white; */
	box-sizing: border-box;
}


.inputBodyClass {
	height: 98%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.cow:hover {
	cursor: pointer;
	background-color: #fff700d6;
}

.row:first-child, .row:nth-child(4), .row:nth-child(7){
	border-top: 2px solid black;
}

.row:last-child {
	border-bottom: 2px solid black;
}

.row .cow:first-child, .row .cow:nth-child(4), .row .cow:nth-child(7) {
	border-left: 2px solid black;
}

.row .cow:last-child {
	border-right: 2px solid black;
}

.cow {
	background: #fff700;
	width: 40px;
	height: 40px;
	border: 1px solid white;
	text-align: center;
	line-height: 40px;
}

.cow span {
	/* display: none; */
}

.cow span.activate {
	font-weight: bold;
	color: red;
}

.cow span.inputValueActivate {
	font-weight: bold;
	color: black;
}

